@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap");
:root {
  font-size: 18px;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  overflow-x: hidden;
}

.btn {
  background-color: hsl(180deg, 66%, 49%);
  padding: 0.5rem 2rem;
  border: none;
  color: #fff;
  font-family: inherit;
  font-weight: 700;
  font-size: 1.1rem;
  cursor: pointer;
}

@media (min-width: 800px) {
  body {
    padding: 1rem;
  }
}
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 3.5rem;
  padding: 0 1rem;
  position: relative;
}
.nav .sign-up {
  width: 150px;
  border-radius: 25px;
  padding: 0.2rem 0.5rem;
  font-weight: 400;
  transition: 500ms ease;
}
.nav .sign-up:hover {
  background-color: hsl(180deg, 66%, 49%);
  color: #fff;
  font-weight: 700;
}
.nav a {
  color: black;
  text-decoration: none;
  margin-left: 1.5rem;
  transition: 250ms ease-in;
}
.nav a:hover {
  color: hsl(180deg, 66%, 49%);
}

#hamburger-icon {
  border: none;
  background-color: transparent;
  width: 35px;
  height: 35px;
  position: relative;
  cursor: pointer;
}
#hamburger-icon span.hamline {
  background-color: hsl(260deg, 8%, 14%);
  width: 100%;
  height: 3px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  opacity: 1;
  transition: opacity 100ms ease-out 300ms;
}
#hamburger-icon::after, #hamburger-icon::before {
  content: "";
  position: absolute;
  left: 0;
  background-color: hsl(260deg, 8%, 14%);
  width: 100%;
  height: 3px;
  transform: translateY(-50%);
  transition: 500ms ease-in;
}
#hamburger-icon::after {
  top: 80%;
}
#hamburger-icon::before {
  top: 20%;
}
#hamburger-icon.open span.hamline {
  opacity: 0;
  transition-delay: 200ms;
}
#hamburger-icon.open::after {
  top: 50%;
  transform: rotate(45deg);
}
#hamburger-icon.open::before {
  top: 50%;
  transform: rotate(-45deg);
}

@media (max-width: 800px) {
  .nav .nav-items {
    display: none;
    position: absolute;
    background-color: rgb(255, 255, 255);
    left: 10%;
    right: 10%;
    z-index: 10;
    text-align: center;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2), -2px -2px 5px rgba(0, 0, 0, 0.1);
  }
  .nav .nav-items a {
    display: block;
    margin: 1rem auto;
  }
  .nav .item-list1 {
    top: 100px;
  }
  .nav .item-list2 {
    top: 255px;
  }
}
@media (min-width: 800px) {
  .nav .nav-items {
    display: block !important;
  }
  .nav .nav-img {
    display: flex;
    align-items: center;
  }
  .nav .nav-img div {
    margin-left: 1rem;
  }
  .nav #hamburger-icon {
    display: none;
  }
}
.hero-section {
  margin: 3.5rem auto 2rem;
  text-align: center;
  padding: 0.5rem;
  max-width: 900px;
  overflow: hidden;
  font-size: 18px;
}
.hero-section .hero-img {
  position: relative;
  width: 110%;
  max-width: 500px;
  left: 75px;
  transform: scale(1.25);
  grid-area: img;
}
.hero-section .hero-text {
  max-width: 450px;
  margin: 3rem auto 0;
  grid-area: text;
}
.hero-section .hero-text h1 {
  font-size: 2.5em;
  color: hsl(255deg, 11%, 22%);
}
.hero-section .hero-text p {
  color: hsl(257deg, 7%, 63%);
}
.hero-section .hero-text .btn {
  border-radius: 25px;
  margin: 1rem auto 2rem;
  transition: 250ms ease-in;
}
.hero-section .hero-text .btn:hover {
  opacity: 0.8;
}

@media (min-width: 800px) {
  .hero-section {
    display: grid;
    grid-template-areas: "text img";
  }
  .hero-section .hero-text {
    text-align: left;
    max-width: 370px;
  }
}
@media (min-width: 1200px) {
  .hero-section {
    max-width: 1200px;
    font-size: 22px;
  }
  .hero-section .hero-text {
    max-width: 430px;
  }
}
.card-section {
  background-color: #eff1f7;
  margin: 6rem -18px 0;
  padding: 1rem 1rem 3rem;
}
.card-section .sub {
  text-align: center;
  padding: 1rem 0.5rem 1rem;
  max-width: 960px;
  margin: auto;
  overflow: hidden;
  font-size: 18px;
}
.card-section .sub h2 {
  margin: 1rem auto;
}
.card-section .sub .card-section-discription {
  color: hsl(257deg, 7%, 63%);
  max-width: 400px;
  margin: auto;
}
.card-section .userlink {
  background-color: hsl(260deg, 8%, 14%);
  background-image: url(../images/bg-shorten-mobile.svg);
  background-repeat: no-repeat;
  background-position: center top;
  width: 90%;
  max-width: 900px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  padding: 1.8rem 2rem;
  border-radius: 8px;
  position: relative;
  top: -94px;
}
.card-section .userlink #url {
  width: 100%;
  margin-bottom: 0.5rem;
  padding: 0.5rem 2rem;
  border: none;
  font-family: inherit;
  font-weight: 700;
  font-size: 1rem;
  border-radius: 5px;
}
.card-section .userlink #submit {
  width: 100%;
  transition: 250ms ease-in;
  border-radius: 5px;
}
.card-section .userlink #submit:hover {
  opacity: 0.9;
}
.card-section #generated-links .loading {
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
}
.card-section #generated-links .linkcards {
  width: 90%;
  max-width: 900px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 auto 1rem;
  border-radius: 8px;
  background-color: #fff;
  padding: 0.5rem 1rem;
  overflow: hidden;
}
.card-section #generated-links .linkcards hr {
  height: 2px;
  width: 200%;
  opacity: 0.3;
}
.card-section #generated-links .linkcards p {
  padding: 1rem 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%;
}
.card-section #generated-links .linkcards .shortlink {
  color: hsl(180deg, 66%, 49%);
}
.card-section #generated-links .linkcards .btn {
  width: 100%;
  border-radius: 10px;
}
.card-section #generated-links .linkcards .btn.copied {
  background-color: hsl(257deg, 27%, 26%);
}

.card-container {
  position: relative;
}
.card-container::after {
  content: "";
  background-color: hsl(180deg, 66%, 49%);
  width: 8px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 0;
}

.card {
  width: 300px;
  height: 280px;
  background-color: #fff;
  padding: 4rem 1rem 1.5rem 1rem;
  position: relative;
  margin: 4rem auto;
  z-index: 2;
  border-radius: 5px;
}
.card .card-img {
  background-color: hsl(257deg, 27%, 26%);
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}
.card p {
  color: hsl(257deg, 7%, 63%);
  font-size: 0.9em;
  margin-top: 0.5rem;
  line-height: 27px;
}
.card h3 {
  color: hsl(260deg, 8%, 14%);
}

@media (min-width: 1000px) {
  .card-section .userlink {
    background-image: url(../images/bg-shorten-desktop.svg);
    flex-direction: row;
    justify-content: space-around;
    padding: 2.5rem 2rem;
    top: -80px;
  }
  .card-section .userlink #url {
    width: 70%;
    margin-bottom: 0;
  }
  .card-section .userlink #submit {
    width: 25%;
  }
  .card-section #generated-links .linkcards {
    flex-direction: row;
    align-items: center;
  }
  .card-section #generated-links .linkcards hr {
    display: none;
  }
  .card-section #generated-links .linkcards p {
    padding: 0;
  }
  .card-section #generated-links .linkcards .btn {
    width: 35%;
  }
  .card-section #generated-links .linkcards .link {
    width: 100%;
  }
  .card-section #generated-links .linkcards .shortlink {
    justify-self: flex-end;
    text-align: right;
    padding-right: 1rem;
    width: 60%;
  }

  .card-container {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .card-container::after {
    width: 90%;
    height: 8px;
    top: 50%;
    left: 30px;
    transform: translateY(-50%);
  }

  .card {
    position: relative;
    text-align: left;
  }
  .card .card-img {
    left: 25%;
  }

  #card-1 {
    top: -10px;
  }

  #card-2 {
    top: 40px;
  }

  #card-3 {
    top: 80px;
  }
}
.boost-your-link {
  padding: 3rem;
  margin: 0 -18px;
  background-image: url(../images/bg-boost-mobile.svg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  background-color: hsl(257deg, 27%, 26%);
  color: #fff;
}
.boost-your-link h2 {
  font-size: 1.1rem;
}
.boost-your-link .btn {
  margin-top: 1rem;
  border-radius: 25px;
}

@media (min-width: 400px) {
  .boost-your-link {
    background-image: url(../images/bg-boost-desktop.svg);
  }
  .boost-your-link h2 {
    font-size: 1.5rem;
  }
}
.footer-main {
  background-color: hsl(260deg, 8%, 14%);
  color: #fff;
  margin: auto -20px -20px;
  padding-bottom: 2rem;
}

.footer {
  max-width: 1000px;
  margin: auto;
  padding: 2rem 1rem 1rem;
  text-align: center;
}
.footer a {
  color: hsl(257deg, 7%, 63%);
  text-decoration: none;
  margin: 0.4rem 0;
  font-size: 0.9em;
  display: inline-block;
}
.footer a:hover {
  color: hsl(180deg, 66%, 49%);
}
.footer .footer-section {
  margin: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer .footer-section .footer-section-header {
  margin-bottom: 0.5rem;
  font-weight: 700;
}
.footer .footer-social-icons img {
  margin: 0.5rem;
  cursor: pointer;
}

@media (min-width: 800px) {
  .footer-main {
    padding-bottom: 1rem;
  }

  .footer {
    display: flex;
    justify-content: space-between;
  }
  .footer img {
    position: relative;
    top: -60px;
    align-self: center;
  }
  .footer .footer-social-icons {
    align-self: center;
  }
  .footer .footer-section {
    align-items: flex-start;
    justify-content: flex-start;
  }
}

/*# sourceMappingURL=style.css.map */
