@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap");
:root {
  font-size: 18px;
}

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  overflow-x: hidden;
}

.btn {
  background-color: #2acfcf;
  padding: .5rem 2rem;
  border: none;
  color: #fff;
  font-family: inherit;
  font-weight: 700;
  font-size: 1.1rem;
  cursor: pointer;
}

@media (min-width: 800px) {
  body {
    padding: 1rem;
  }
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 3.5rem;
  padding: 0 1rem;
  position: relative;
}

.nav .sign-up {
  width: 150px;
  border-radius: 25px;
  padding: .2rem .5rem;
  font-weight: 400;
}

.nav .sign-up:hover {
  background-color: #2acfcf;
  color: #fff;
  font-weight: 700;
}

.nav a {
  color: black;
  text-decoration: none;
  margin-left: .5rem;
}

.nav a:hover {
  color: #2acfcf;
}

@media (max-width: 800px) {
  .nav .nav-items {
    display: block;
    position: absolute;
    background-color: white;
    left: 10%;
    right: 10%;
    z-index: 10;
    text-align: center;
    border-radius: 10px;
    -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2), -2px -2px 5px rgba(0, 0, 0, 0.1);
            box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2), -2px -2px 5px rgba(0, 0, 0, 0.1);
  }
  .nav .nav-items a {
    display: block;
    margin: 1rem auto;
  }
  .nav .item-list1 {
    top: 100px;
  }
  .nav .item-list2 {
    top: 255px;
  }
}

@media (min-width: 800px) {
  .nav .nav-img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .nav .nav-img div {
    margin-left: 1rem;
  }
  .nav #hamburger-icon {
    display: none;
  }
  .nav .nav-items {
    display: block;
  }
}

.hero-section {
  margin: 3.5rem auto 2rem;
  text-align: center;
  padding: .5rem;
  max-width: 900px;
  overflow: hidden;
  font-size: 18px;
}

.hero-section .hero-img {
  position: relative;
  width: 110%;
  max-width: 500px;
  left: 75px;
  -webkit-transform: scale(1.25);
          transform: scale(1.25);
  grid-area: img;
}

.hero-section .hero-text {
  max-width: 450px;
  margin: 3rem auto 0;
  grid-area: text;
}

.hero-section .hero-text h1 {
  font-size: 2.5em;
  color: #35323e;
}

.hero-section .hero-text p {
  color: #9e9aa7;
}

.hero-section .hero-text .btn {
  border-radius: 25px;
  margin: 1rem auto 2rem;
}

@media (min-width: 800px) {
  .hero-section {
    display: -ms-grid;
    display: grid;
        grid-template-areas: "text img";
  }
  .hero-section .hero-text {
    text-align: left;
    max-width: 370px;
  }
}

@media (min-width: 1200px) {
  .hero-section {
    max-width: 1200px;
    font-size: 22px;
  }
  .hero-section .hero-text {
    max-width: 430px;
  }
}

.card-section {
  background-color: #eff1f7;
  margin: 6rem -18px 0;
  padding: 1rem 1rem 3rem;
}

.card-section .sub {
  text-align: center;
  padding: 1rem .5rem 1rem;
  max-width: 960px;
  margin: auto;
  overflow: hidden;
  font-size: 18px;
}

.card-section .sub h2 {
  margin: 1rem auto;
}

.card-section .sub .card-section-discription {
  color: #9e9aa7;
  max-width: 400px;
  margin: auto;
}

.card-section .userlink {
  background-color: #232127;
  background-image: url(../images/bg-shorten-mobile.svg);
  background-repeat: no-repeat;
  background-position: center top;
  width: 90%;
  max-width: 900px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  padding: 1.8rem 2rem;
  border-radius: 8px;
  position: relative;
  top: -94px;
}

.card-section .userlink #url {
  width: 100%;
  margin-bottom: .5rem;
  padding: .5rem 2rem;
  border: none;
  font-family: inherit;
  font-weight: 700;
  font-size: 1rem;
}

.card-section .userlink #submit {
  width: 100%;
}

.card-container {
  position: relative;
}

.card-container::after {
  content: "";
  background-color: #2acfcf;
  width: 8px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 0;
}

.card {
  width: 300px;
  height: 280px;
  background-color: #fff;
  padding: 4rem 1rem 1.5rem 1rem;
  position: relative;
  margin: 4rem auto;
  z-index: 2;
  border-radius: 5px;
}

.card .card-img {
  background-color: #3b3054;
  width: 80px;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.card p {
  color: #9e9aa7;
  font-size: .9em;
  margin-top: .5rem;
}

.card h3 {
  color: #232127;
}

@media (min-width: 1000px) {
  .card-section .userlink {
    background-image: url(../images/bg-shorten-desktop.svg);
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding: 2.5rem 2rem;
    top: -80px;
  }
  .card-section .userlink #url {
    width: 70%;
    margin-bottom: 0;
  }
  .card-section .userlink #submit {
    width: 25%;
  }
  .card-container {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .card-container::after {
    width: 90%;
    height: 8px;
    top: 50%;
    left: 30px;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .card {
    position: relative;
    text-align: left;
  }
  .card .card-img {
    left: 25%;
  }
  #card-1 {
    top: -10px;
  }
  #card-2 {
    top: 40px;
  }
  #card-3 {
    top: 80px;
  }
}

.boost-your-link {
  padding: 3rem;
  margin: 0 -18px;
  background-image: url(../images/bg-boost-mobile.svg);
  background-position: center center;
  background-repeat: no-repeat;
  text-align: center;
  background-color: #232127;
  color: #fff;
}

.boost-your-link .btn {
  margin-top: 1rem;
  border-radius: 25px;
}

@media (min-width: 400px) {
  .boost-your-link {
    background-image: url(../images/bg-boost-desktop.svg);
  }
}
/*# sourceMappingURL=style.css.map */